:root {
  --darkest-eb: #1c5278;
  --off-white: #fafafa;
  --ruby: #df1a55;
  --lightest-eb: #e0f6ff;
  --electric-blue: #2492bf;
  --light-eb: #4db4de;
  --light-ruby: #ff8eaf;
  --soft-grey: #e5e5e5;
  --dark-soft-grey: #ccc;
}

.w-layout-blockcontainer {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.w-layout-hflex {
  flex-direction: row;
  align-items: flex-start;
  display: flex;
}

.w-layout-vflex {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
}

@media screen and (max-width: 991px) {
  .w-layout-blockcontainer {
    max-width: 728px;
  }
}

@media screen and (max-width: 767px) {
  .w-layout-blockcontainer {
    max-width: none;
  }
}

h1 {
  color: var(--darkest-eb);
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

.navigation {
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
}

.nav_link {
  color: var(--darkest-eb);
  justify-content: center;
  align-items: center;
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  font-weight: 700;
  display: flex;
}

.donate_button {
  background-color: var(--ruby);
  color: var(--off-white);
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 80px;
  margin-left: 39px;
  padding: 0;
  font-family: Merriweather Sans, sans-serif;
  font-size: 30px;
  font-weight: 700;
  display: flex;
  box-shadow: 0 2px 5px #0003;
}

.body {
  background-color: var(--off-white);
}

.hero {
  background-color: var(--lightest-eb);
  background-image: radial-gradient(circle, #e0f6ffcc 21%, #e0f6ffb3 54%, #e0f6ff33 75%, #4db4de1a);
  height: auto;
  margin-bottom: -61px;
}

.image {
  width: 150px;
  margin-top: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}

.hero_container {
  flex-flow: column;
  width: 67%;
  min-width: auto;
  max-width: 941px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
}

.heading {
  text-align: center;
  font-family: Merriweather Sans, sans-serif;
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.ruby-text {
  color: var(--ruby);
}

.hero-icons {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  flex-flow: wrap;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-around;
  align-items: flex-end;
  margin-top: 15px;
  display: grid;
}

.code-embed {
  color: #275279;
}

.icon-blue {
  color: var(--darkest-eb);
}

.icon-ruby {
  color: var(--ruby);
}

.hero-text {
  color: var(--darkest-eb);
  text-align: center;
  margin-top: 37px;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 26px;
  font-weight: 600;
  line-height: 34px;
}

.button_1 {
  background-color: var(--ruby);
  color: var(--off-white);
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 55px;
  font-family: Merriweather Sans, sans-serif;
  font-size: 28px;
  font-weight: 700;
  display: flex;
  box-shadow: 0 2px 5px #0003;
}

.flex_buttons {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  flex-flow: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 70%;
  padding-top: 35px;
  padding-bottom: 80px;
}

.button_2 {
  border: 3px solid var(--electric-blue);
  background-color: var(--off-white);
  color: var(--electric-blue);
  border-radius: 6px;
  justify-content: center;
  align-items: center;
  width: 230px;
  height: 55px;
  font-family: Merriweather Sans, sans-serif;
  font-size: 28px;
  font-weight: 700;
  display: flex;
  box-shadow: 0 2px 5px #0003;
}

.progress-tracker {
  background-color: var(--light-eb);
  border-radius: 30px;
  max-width: 80%;
  height: 150px;
  padding: 22px 24px 22px 42px;
  box-shadow: 0 2px 5px #0003;
}

.progress-back {
  background-color: var(--lightest-eb);
  border-radius: 30px;
  width: 90%;
  height: 45px;
  margin-top: 3px;
}

.paragraph {
  color: var(--off-white);
  font-family: Open Sans, sans-serif;
}

.hero-tracker-text {
  color: var(--off-white);
  font-family: Open Sans, sans-serif;
  font-size: 24px;
  font-weight: 700;
}

.flex-block {
  justify-content: flex-start;
  align-items: center;
  max-width: 10%;
}

.flex-block-2 {
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.hero-tracker-text2 {
  color: var(--off-white);
  text-align: center;
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
}

.flex-goal {
  justify-content: flex-start;
  align-items: center;
  max-width: 10%;
  margin-top: -16px;
  margin-left: 17px;
}

.progress-current {
  background-color: var(--darkest-eb);
  border-radius: 30px;
  width: 75%;
  height: 45px;
  margin-top: 0;
}

.section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.heading-2 {
  color: var(--darkest-eb);
  text-align: center;
  padding-bottom: 24px;
  font-family: Merriweather Sans, sans-serif;
  font-size: 40px;
  font-weight: 800;
}

.paragraph-2 {
  color: var(--darkest-eb);
  text-align: center;
  margin-bottom: 0;
  font-family: Open Sans, sans-serif;
  font-size: 16px;
}

.donation-card-1 {
  grid-column-gap: 11px;
  grid-row-gap: 11px;
  background-color: var(--lightest-eb);
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  width: 272px;
  height: 272px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0 2px 5px #0003;
}

.quick-donation {
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.donation-amounts {
  letter-spacing: -.05em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Merriweather Sans, sans-serif;
  font-size: 100px;
  font-weight: 800;
  line-height: 100px;
}

.bold-p {
  color: var(--darkest-eb);
  font-family: Open Sans, sans-serif;
  font-weight: 700;
}

.donation-card-2 {
  grid-column-gap: 11px;
  grid-row-gap: 11px;
  background-color: var(--lightest-eb);
  border-radius: 30px 30px 0 0;
  justify-content: center;
  align-items: center;
  width: 272px;
  height: 272px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0 2px 5px #0003;
}

.most-pop {
  grid-column-gap: 11px;
  grid-row-gap: 11px;
  background-color: var(--electric-blue);
  border-radius: 0 0 30px 30px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 272px;
  height: 30px;
  margin-left: 20px;
  margin-right: 20px;
  padding-top: 10px;
  box-shadow: 0 2px 5px #0003;
}

.bold-p-light {
  color: var(--off-white);
  font-family: Open Sans, sans-serif;
  font-weight: 700;
}

.sm-star {
  margin-top: -11px;
}

.flex-block-3 {
  justify-content: center;
  align-items: flex-start;
}

.navbar {
  background-color: var(--off-white);
  padding-top: 11px;
  padding-bottom: 11px;
  position: sticky;
  top: 0;
}

.nav-container {
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.nav-menu {
  grid-column-gap: 23px;
  grid-row-gap: 23px;
  text-align: center;
  justify-content: space-around;
  align-items: stretch;
  display: flex;
}

.container {
  max-width: 65%;
}

.form {
  grid-column-gap: 19px;
  grid-row-gap: 19px;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  display: flex;
}

.text-field {
  border-radius: 6px;
  max-width: 40%;
  box-shadow: inset 0 2px 5px #0003;
}

.paragraph-3 {
  color: var(--darkest-eb);
  text-align: center;
  font-family: Open Sans, sans-serif;
}

.stat-number {
  color: var(--light-ruby);
  font-family: Merriweather Sans, sans-serif;
  font-size: 120px;
  line-height: 100px;
}

.container-2 {
  flex-flow: row;
  display: flex;
}

.stat-text {
  color: var(--off-white);
  padding-left: 17px;
  font-family: Merriweather Sans, sans-serif;
  font-size: 46px;
  line-height: 55px;
}

.section-2 {
  background-image: linear-gradient(90deg, #1c527880, #1c5278bf 31%, #184869d9 76%), url('../images/cannedgoods1.png');
  background-position: 0 0, 50%;
  background-size: auto, cover;
  padding-top: 40px;
  padding-bottom: 40px;
}

@media screen and (max-width: 991px) {
  .nav_link {
    color: var(--off-white);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 40px;
    line-height: 40px;
  }

  .hero_container {
    align-items: center;
  }

  .hero-icons {
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    place-items: end stretch;
    max-width: 480px;
  }

  .progress-tracker {
    max-width: 90%;
  }

  .progress-back {
    width: 95%;
  }

  .hero-tracker-text {
    padding-right: 12px;
  }

  .flex-block-2 {
    flex-flow: column;
  }

  .flex-goal {
    flex-flow: row;
    align-self: flex-end;
    max-width: none;
    margin-top: 5px;
    margin-left: 0;
    margin-right: 23px;
  }

  .quick-donation {
    grid-column-gap: 25px;
    grid-row-gap: 25px;
    flex-flow: column;
  }

  .nav-container {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    justify-content: space-between;
    align-items: center;
  }

  .nav-menu {
    background-color: var(--light-eb);
    justify-content: space-around;
    padding-top: 17px;
    padding-bottom: 21px;
  }

  .icon {
    font-size: 80px;
  }

  .menu-button, .menu-button.w--open {
    background-color: var(--off-white);
    color: var(--electric-blue);
  }

  .container {
    max-width: 80%;
  }

  .stat-number {
    align-self: center;
  }

  .stat-text {
    align-self: center;
    font-size: 30px;
    line-height: 35px;
  }

  .section-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .container-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

#w-node-_8351b5f9-52cd-1b10-f947-1a35f43eb231-c8b7abcd, #w-node-_2a1c2e4a-e632-2154-a6ef-0f262b1c55b8-c8b7abcd, #w-node-_80cfb71f-f397-ae6f-c7bc-a949543e4f81-c8b7abcd, #w-node-e9a5c373-f024-ac6e-660e-97459b722199-c8b7abcd, #w-node-cf378070-5885-7728-348d-dea50327397e-c8b7abcd, #w-node-_787f9e7d-213a-2973-34c9-6162ae2161ac-c8b7abcd, #w-node-_9f224c5a-5e43-a63d-6a1f-92fbdea659bd-c8b7abcd, #w-node-b7fa61d6-af82-e5cb-bbc4-990489ba022c-c8b7abcd, #w-node-e6a908e3-282f-ab19-13da-a5af67c5403a-c8b7abcd, #w-node-_7fc8d78f-ebd8-fe5f-c541-2681e36ca930-c8b7abcd {
  justify-self: center;
}

@media screen and (max-width: 991px) {
  #w-node-b7fa61d6-af82-e5cb-bbc4-990489ba022c-c8b7abcd {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}


